.left-bar {
    background-color: black;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90.5vh;
}

.nav-logo {
    width: 100%;
}


.logo-container {
    cursor: pointer;
    border-radius: 6px;
    padding: 9%;
    background-color: white;
    width: 50%;
    height: auto;
}

.copyright {
   width: 15%;
}