.nutrition-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
    gap: 10%;
}

.nutrition-logo {
    width: 15px;
    height: auto;
}

.calories-box {
    background-color: hsla(0, 100%, 50%, 0.299);
}

.proteins-box {
    background-color: #4AB8FF1A;
}

.lipides-box {
    background-color: #FD51811A;
}

.glucides-box {
    background-color: #f9ce2358 ;
}

.nutrition-logo-container  {
    width: 15px;
    mix-blend-mode: normal;
    border-radius: 6px;
    padding: 10px 12px;
}

.charts-police {
    color: #74798C;
    font-size: 0.7rem;
    font-weight: 500;
}